<?xml version="1.0"?>
<conf>
	<record-defs>
		<marcflavor>marc21</marcflavor>
	</record-defs>
    <pazpar2url>http://localhost:9004</pazpar2url>
    <sruauthurl>http://sru.beta.biblios.net/authority</sruauthurl>
	
    <editors>
	
        <editor>
            <name>MARC21Editor</name>
            <syntax>marcxml</syntax>
			<enabled>1</enabled>
        </editor>
		
        <editor>
            <name>MARCViewer</name>
            <syntax>marcxml</syntax>
			<enabled>0</enabled>
        </editor>
	
    </editors>

	<searching>
		<searchtargets>
		  <server>
			<name>‡biblios.net</name>
            <id>1</id> 
		 	<hostname>z3950.beta.biblios.net</hostname>
			<port>210</port>
			<dbname>bibliographic</dbname>
			<userid></userid>
			<password></password>
			<enabled>1</enabled>
			<description>‡biblios.net</description>
            <allowDelete>1</allowDelete>
            <allowModify>1</allowModify>
            <pazpar2settings>{"pz:name[z3950.beta.biblios.net:210/bibliographic]":"‡biblios.net",
"pz:requestsyntax[z3950.beta.biblios.net:210/bibliographic]":"marc21",
"pz:allow[z3950.beta.biblios.net:210/bibliographic]":"1",
"pz:elements[z3950.beta.biblios.net:210/bibliographic]":"F",
"pz:nativesyntax[z3950.beta.biblios.net:210/bibliographic]":"iso2709;utf-8",
"pz:xslt[z3950.beta.biblios.net:210/bibliographic]":"marc21.xsl",
"pz:cclmap:kw[z3950.beta.biblios.net:210/bibliographic]":"u=1016 t=1,r s=al",
"pz:cclmap:au[z3950.beta.biblios.net:210/bibliographic]":"u=1004 s=al",
"pz:cclmap:ti[z3950.beta.biblios.net:210/bibliographic]":"u=4 s=al",
"pz:cclmap:su[z3950.beta.biblios.net:210/bibliographic]":"u=21 s=al",
"pz:cclmap:isbn[z3950.beta.biblios.net:210/bibliographic]":"u=7",
"pz:cclmap:issn[z3950.beta.biblios.net:210/bibliographic]":"u=8",
"pz:cclmap:date[z3950.beta.biblios.net:210/bibliographic]":"u=30 r=r",
"pz:cclmap:pub[z3950.beta.biblios.net:210/bibliographic]":"u=1018 s=al"}</pazpar2settings>
		  </server>
		</searchtargets>

	</searching>

	<saving>
		<sendtargets>
			<server>
				<name>‡biblios.net</name>
				<location>‡biblios.net</location>
				<url>api.beta.biblios.net</url>
				<user>cataloger</user>
				<password>cataloger</password>
				<plugin>Save To Koha</plugin>
				<enabled>1</enabled>
                <allowDelete>0</allowDelete>
                <allowModify>0</allowModify>
                <embedded>0</embedded>
                <authurl>http://api.beta.biblios.net/authentication</authurl>
                <bibprofileurl>http://api.beta.biblios.net/bib_profile</bibprofileurl> 
                <retrieveurl>http://api.beta.biblios.net/bib/</retrieveurl>
                <saveurl>http://api.beta.biblios.net/</saveurl>
			</server>
		</sendtargets>
	</saving>

	<templates>
		<template>
			<name>New Book </name>
			<file>templates/bks.xml</file>
            <icon>ui/images/material_types/books.gif</icon>
		</template>
		<template>
			<name>New Sound Recording</name>
			<file>templates/sound.xml</file>
            <icon>ui/images/material_types/sound_recordings.gif</icon>
		</template>
		<template>
			<name>New Musical Score</name>
			<file>templates/score.xml</file>
            <icon>ui/images/material_types/musical_scores.gif</icon>
		</template>
		<template>
			<name>New Computer File </name>
			<file>templates/comp.xml</file>
            <icon>ui/images/material_types/computer_files.gif</icon>
		</template>
		<template>
			<name>New Continuing Resource</name>
			<file>templates/cnr.xml</file>
            <icon>ui/images/material_types/continuing_resources.gif</icon>
		</template>
		<template>
			<name>New Map </name>
			<file>templates/map.xml</file>
            <icon>ui/images/material_types/maps.gif</icon>
		</template>
		<template>
			<name>New Visual Material </name>
			<file>templates/vis.xml</file>
            <icon>ui/images/material_types/visual_materials.gif</icon>
		</template>
		<template>
			<name>New Mixed Material </name>
			<file>templates/mix.xml</file>
            <icon>ui/images/material_types/mixed_materials.gif</icon>
		</template>
	</templates>

	<plugins>
		<plugin>
			<name>Save To Koha</name>
            <type>sendtarget</type>
			<file>plugins/koha.js</file>
            <initcall>new koha()</initcall>
            <enabled>1</enabled>
            <allowDelete>0</allowDelete>
            <allowModify>0</allowModify>
		</plugin>

        <plugin>
            <name>MARC21Editor</name>
            <type>editor</type>
            <file>plugins/marc21editor/marc21editor.js</file>
            <initcall>new MarcEditor(editorid)</initcall>
            <enabled>1</enabled>
            <allowDelete>0</allowDelete>
            <allowModify>0</allowModify>
            <xslpath>plugins/marc21editor/</xslpath>
        </plugin>

        <plugin>
            <name>MARCViewer</name>
            <type>editor</type>
            <file>plugins/marcviewer.js</file>
            <initcall>new MarcViewer(editorelem, editorid)</initcall>
            <enabled>0</enabled>
            <allowDelete>0</allowDelete>
            <allowModify>0</allowModify>
        </plugin>

	</plugins>

    <ui>
        <icons>
            <facets>
                <author>ui/images/facet_headings/authors.gif</author>
                <publication-name>ui/images/facet_headings/publications.gif</publication-name>
                <subject>ui/images/facet_headings/subjects.gif</subject>
                <date>ui/images/facet_headings/dates.gif</date>
            </facets>
            <material_types>
                <books>ui/images/material_types.books.gif</books>
                <computer_files>ui/images/material_types.books.gif</computer_files>
                <internet_resources>ui/images/internet_resources.gif</internet_resources>
                <maps>ui/images/maps.gif</maps>
                <mixed_materials>ui/images/mixed_materials.gif</mixed_materials>
                <sound_recordings>ui/images/sound_recordings.gif</sound_recordings>
                <visual_materials>ui/images/visual_materials.gif</visual_materials>
            </material_types>
            <resources_panel>
                <searching>searching.gif</searching>
                <editing>editing.gif</editing>
                <facets>facets.gif</facets>
            </resources_panel>
            <toolbar>
                <cancel>cancel.gif</cancel>
                <duplicate>duplicate.gif</duplicate>
                <edit>edit.gif</edit>
                <export>export.gif</export>
                <macros>macros.gif</macros>
                <move>move.gif</move>
                <revert>revert.gif</revert>
                <save>save.gif</save>
                <send>send.gif</send>
                <tools>tools.gif</tools>
                <trash>trash.gif</trash>
                <upload>upload.gif</upload>
            </toolbar>
        </icons>
    </ui>

    <macros>
    <!-- include macro elements like these to load macros automatically 
        <macro name="biblios040" file="macros/biblios040.js" enabled="1"/>
        <macro name="IncIndx504" file="macros/IncIndx504.js" enabled="1"/>
        <macro name="IncIndxBib504" file="macros/IncIndxBib504.js" enabled="1"/>
        <macro name="www538.js" file="macros/www538.js" enabled="1"/>
    -->
    </macros>
</conf>
