<!-- TMPL_INCLUDE NAME="doc-head-open.inc" -->
<title>Koha &rsaquo; Biblios</title>
<!-- TMPL_INCLUDE NAME="doc-head-close.inc" -->
<script type="text/javascript">
//<![CDATA[

     $(document).ready(function() {
        $('#abouttabs > ul').tabs();
     });
//]]>
</script>
</head>
<body>
<!-- TMPL_INCLUDE NAME="header.inc" -->

<div id="breadcrumbs"><a href="/cgi-bin/koha/mainpage.pl">Home</a> &rsaquo; <a href="/cgi-bin/koha/cataloguing/addbooks.pl">Cataloguing</a> &rsaquo; Biblios</div>

		<iframe src="/intranet-tmpl/prog/en/lib/biblios/index.html" width="100%" height="600" frameborder="0"></iframe>
<!-- TMPL_INCLUDE name="intranet-bottom.inc" -->
