
<!-- TMPL_INCLUDE NAME="doc-head-open.inc" -->
<!-- TMPL_INCLUDE NAME="doc-head-close.inc" -->
<title>Koha &rsaquo; Biblios</title>
<script type="text/javascript">
//<![CDATA[

     $(document).ready(function() {
        $('#abouttabs > ul').tabs();
     });
//]]>
</script>
</head>
<body>

<!-- TMPL_INCLUDE NAME="header.inc" -->

<iframe src="/intranet-tmpl/prog/en/lib/biblios/index.html" name="bibliosframe" frameborder="0" width="100%" style="height:500px;"></iframe>
<script type="text/javascript">
    bibliosframe.userid = '<!-- TMPL_VAR name="loggedinusername" -->';
    bibliosframe.embeddedSESSID = '<!-- TMPL_VAR name="embeddedSESSID" -->';
    bibliosframe.openOnLoadRecId = '<!-- TMPL_VAR NAME="biblionumber" -->';
    bibliosframe.recordxml = '<!-- TMPL_VAR ESCAPE=JS NAME="recordxml" -->';
</script>
<!-- TMPL_INCLUDE name="intranet-bottom.inc" -->
