.body {
  font-size: small;
} 

.tag {
    margin-top:8px; 
    margin-bottom:8px;
} 

.indicator {
    margin-left: 2px; 
    margin-right: 2px;
} 

.subfield-delimiter {
    color: blue; 
    margin-right: 3px; 
    margin-left: 3px;
} 

.subfield-text {
	min-width: 150px;
}

.focused-tag {
    border: solid 1px; 
    background-color: #eeeeee;
} 

.focused-tagnumber {
    background-color: #ccffcc;
} 

.focused-indicator {
    background-color: #ccffff;
} 

.focused-subfield {
    background-color: #ffff99;
} 

.focused-subfield-delimiter {
    background-color: #ffff99; 
} 

.focused-subfield-text {
    background-color: #ffff66;
} 

.focused-controlfield {
    background-color: #ffff66;
}

.highlighted {
    padding: 2px; 
    margin: 2px; 
    font-size: larger; 
    border: 1px solid;
}

#000 {
    display: none;
}

#008 {
    display: none;
}

