div#biblios div,div#biblios dl,div#biblios dt,div#biblios dd,div#biblios ul,div#biblios ol,div#biblios li,div#biblios h1,div#biblios h2,div#biblios h3,div#biblios h4,div#biblios h5,div#biblios h6,div#biblios pre,div#biblios form,div#biblios fieldset,div#biblios input,div#biblios textarea,div#biblios p,div#biblios blockquote,div#biblios th,div#biblios td { 

	margin:0;

	padding:0;

}

div#biblios td, div#biblios th {

	background-color: transparent;

	border: medium none;
}

div#biblios table {

	border-collapse:collapse;

	border-spacing:0;

}

div#biblios fieldset,div#biblios img { 

	border:0;

}

div#biblios address,div#biblios caption,div#biblios cite,div#biblios code,div#biblios dfn,div#biblios em,div#biblios strong,div#biblios th,div#biblios var {

	font-style:normal;

	font-weight:normal;

}

div#biblios ol,div#biblios ul {

	list-style:none;

}

div#biblios ul li {
	list-style-type: none;
}

div#biblios caption,div#biblios th {

	text-align:left;

}

div#biblios h1,div#biblios h2,div#biblios h3,div#biblios h4,div#biblios h5,div#biblios h6 {

	font-size:100%;

	font-weight:normal;

}

div#biblios q:before,div#biblios q:after {

	content:'';

}

div#biblios abbr,div#biblios acronym { border:0;

}
