#top-panel {
	margin-bottom: 10px;
}

#header {
  margin-top: 10px;
  background-color: #f3f3f3;
}

#login {
	position: absolute;
	right: 0.5em;
	top: 3px;
}

#header_search {
	float: left;
	background-image: url(../images/biblios-logo.gif);
	background-repeat: no-repeat;
	background-position: 0.5em;
	padding-left: 14.2em;
	margin: 0.3em, 0pt, 0.5em;
}

.searchtip {
	color: gray;
}


#searchform {
	float: left;
}

#info-panel {
  float: right;
}

#status-box {
  bottom: 0;
}
#fixedfields_editor {
  background-color: #eeeeee;
  border: solid 2px;
}

#varfields_editor {
  background-color: #eeeeee,
  border: solid 2px;
  margin-top: 10px;
}

.database-details {
  font-weight: bold;
}

.rootFolders {
  margin-top: 10px;
}

#record-toolbar {
  float: right;
  height: 100px;
  width: 70px;
}

#record-toolbar-handle {
  height: 10px;
  cursor: hand;
}

#status {
  margin-top: 500px;
  font-size: medium;
  background-color: #33FF66;
}

.yui-toolbar-subcont{
  display: none; 
}
