#loading-mask {
	width:100%;
	height:100%;
	background:#c3daf9;
	position :absolute;
	z-index:20000;
	left:0;
	top:0;
	opacity:0.4;
	filter:alpha(opacity=40);
}

.loading-ind{
	width:16px;
	height:16px;
	position: absolute;
	top: 250px;
	left: 350px;
	z-index:20001;
}

#top-panel {
	margin-bottom: 10px;
}

#header {
  margin-top: 0px;
  background-color: #f3f3f3;
}

#logo {
	padding-right: 10px;
}

#login {
	position: absolute;
	right: 0.5em;
	top: 3px;
}

#header_search {
	float: left;
	background-image: url(../images/biblios-logo.gif);
	background-repeat: no-repeat;
	background-position: 0.5em;
	padding-left: 14.2em;
	margin: 0.3em, 0pt, 0.5em;
}

.searchtip {
	color: gray;
	margin:0.5em 0pt;
}


#searchform {
	float: left;
	padding-left: 10px;
}

#searchform input[type="text"] {
	font-size:1.3em;
	background-color: #FFFFA0;
}

.x-border-layout-ct {
	background: #ffffff;
}

#info-panel {
  float: right;
}


#varfields_editor {
  background-color: #eeeeee,
  border: solid 2px;
  margin-top: 10px;
}

.database-details {
  font-weight: bold;
}

.rootFolders {
  margin-top: 10px;
}

#record-toolbar {
  float: right;
  height: 100px;
  width: 70px;
}

#record-toolbar-handle {
  height: 10px;
  cursor: hand;
}

#status {

}

#status-msg {
	background-color: #ffcc66;
    font-weight:bold;
}

.yui-toolbar-subcont{
  display: none; 
}

.limit:hover {
	color: red;	
}

#search-preview-panel th {
	background-color: transparent;
}

#save-preview-panel th {
	background-color: transparent;
}

.helpTitle {
	font-size: large;
	font-weight; bold;
}

.helpText {
	font-size: medium;
	padding-bottom: 20px;
}

.location-click {
	font-weight: bold;
}

.location-over {
	background: green;
}

.gridselector {
	color: blue;
	cursor: pointer;
}

#searchgridtbarSelectAll {
	display: none;
	background: yellow;
}
#savegridtbarSelectAll {
	display: none;
	background: yellow;
}
#searchgridallSelectedStatus{
	display: none;
}
#savegridallSelectedStatus{
	display: none;
}
.tagname {
	font-weight: bold;
}
.tagdesc {
	font-style: italic;
}
.indicatornumber{
	font-weight: bold;
}

.indicatornumber{
	font-weight: bold;
}
.indicatordesc {
	font-style: italic;
}

.highlightedhelp {
	background-color: yellow;
}
#indicatorshelp {
	margin-top: 2em;
	margin-bottom: 2em;
}
.indicatorstitle{
	font-size: larger;
	font-weight: bold;
}
.indicatorvalues{
	margin-top: 2em;
	margin-bottom: 2em;
}
.indicatorhelp {
	margin-top: 2em;
	margin-bottom: 2em;
}
.subfieldstitle{
	font-size: larger;
	font-weight: bold;
}
.subfieldname{
	font-weight: bold;
}
.subfielddesc {
	font-style: italic;
}
#subfieldshelp {
	margin-top: 2em;
	margin-bottom: 2em;
}
.subfieldhelp {
	margin-top: 2em;
	margin-bottom: 2em;
}
.hideGrouping {
    display: none;
}
#helpPanel-xcollapsed .x-tool.x-tool-expand-east {
    background: url(ui/images/Help.gif) 0 0px no-repeat !important;
}
/*
#helpPanel .x-tool.x-tool-toggle.x-tool-collapse-east {
    background: url(ui/images/Help.gif) 0 0px no-repeat !important;
}
*/
.groupingClass {
    background-color:yellow;
}
