#top-panel {
	margin-bottom: 10px;
}

#header {
  margin-top: 0px;
  background-color: #f3f3f3;
}

#login {
	position: absolute;
	right: 0.5em;
	top: 3px;
}

#header_search {
	float: left;
	background-image: url(../images/biblios-logo.gif);
	background-repeat: no-repeat;
	background-position: 0.5em;
	padding-left: 14.2em;
	margin: 0.3em, 0pt, 0.5em;
}

.searchtip {
	color: gray;
}


#searchform {
	float: left;
}

#info-panel {
  float: right;
}


#varfields_editor {
  background-color: #eeeeee,
  border: solid 2px;
  margin-top: 10px;
}

.database-details {
  font-weight: bold;
}

.rootFolders {
  margin-top: 10px;
}

#record-toolbar {
  float: right;
  height: 100px;
  width: 70px;
}

#record-toolbar-handle {
  height: 10px;
  cursor: hand;
}

#status-msg {
	background-color: red;
}

.yui-toolbar-subcont{
  display: none; 
}

.limit:hover {
	color: red;	
}

#search-preview-panel th {
	background-color: transparent;
}

#save-preview-panel th {
	background-color: transparent;
}

.helpTitle {
	font-size: large;
	font-weight; bold;
}

.helpText {
	font-size: medium;
	padding-bottom: 20px;
}
